<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{oUserAddPatientController.header}}
             <small>{{oUserAddPatientController.secondryHeader}}</small>
         </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <input-box config="oUserAddPatientController.patientName"></input-box>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-2">
    <input-box config="oUserAddPatientController.patientAge"></input-box>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-2">
	 <dropdown-tag config="oUserAddPatientController.selectSex"></dropdown-tag>
 </div>

</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <input-search-box config="oUserAddPatientController.searchDoctor"></input-search-box>
  </div>
</div>